/node_modules/
npm-debug.log
yarn-error.log

# Laravel
public/storage
public/hot
/bootstrap/cache/
/public/build

storage/*.key
.phpunit.result.cache

# Environments
.env
.env.*
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant

# Tools
.phpactor.json
auth.json
